label {
  padding: 10px;
}

.container {
    display: flex;
    margin-right: 40px;
    margin-left: 40px;
    border: 1px solid black;
}

.characterName {
    flex: 1;
}

.characterOverview {
    flex: 1.5;
    display: flex;
}
