.rightRow {
    flex: 1;
    margin: 8px 0px 8px 0px;
    padding: 5px;
    display: grid;
    grid-template-rows: 6fr 9.5fr;
    grid-row-gap: 15px;
}

#personalStuff {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 10px;
    background-color: #b7b7b7;
}

#personalStuff > div {
    background-color: #FFF;
}

#featuresTraits {
    border: 1px solid black;
}